:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #1E90FF;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background-color: var(--second-bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    padding: 4rem 12% 4rem;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo {
    font-size: 3rem;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 800;
    transition: 0.3s ease-in-out;
    cursor: pointer;

}

.logo:hover {
    transform: scale(1.1);
}

.logo span {
    text-shadow: 0 0 25px var(--main-color);
}

.navbar a {
    margin-left: 4rem;
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--text-color);    
    justify-content: space-between;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

section {
    min-width: 100%;
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}


.efeito-revelar {
    visibility: hidden;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.home-content {
    display: flex;
    flex-direction: column;
    gap:7px;
    align-items: baseline;
    justify-content: center;
    text-align: left;
    margin-top: 3rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 6.5rem;
    font-weight: 700;
    margin-top: 1.5rem;
}

.home-content h3 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.home-content p {
    font-size: 1.5rem;
    font-weight: 500;
    max-width: 1000px;
    line-height: 1.8;
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    top: 3rem;
    width: 30vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
    transform: rotate(-38deg);
}

.home-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}

.social-icons a:hover{
    color: var(--text-color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 1.5rem;   
}

.btn-group a:nth-of-type(2) {
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover {
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;
}

.text-animation {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.text-animation span {
    position: relative;
}

.text-animation span::before {
content: "Front-end Developer";
color: var(--main-color);
animation: words 8s infinite;
}

.text-animation span::after {
    content: "";
    background-color: var(--second-bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--second-bg-color);
    right: -8px;
    animation: cursor 0.9s infinite, typing 20s infinite;
}
/*------------------------ ANIMATION----------------- */
@keyframes cursor {
    to{
        border-left: 2px solid var(--main-color);
    }
}

@keyframes words {
    0%,
    60%{
        content: "Front-end Developer";
    }
    61%,
    100%{
        content: "Web Developer";
    }
}

@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
}
/* -----------------------END ANIMATION---------------------- */
.services {
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    color: var(--text-color);
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.services-container {
    display: flex;
    gap: 10rem;
}

.service-box {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 28vw;
    width: 25vw;
    border: 3px solid var(--main-color);
    background-color: var(--bg-color);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.service-box:hover{
    box-shadow: 0 0 25px var(--main-color);
    transform: scale(1.05) translateY(-3px);
    color: black;
    background-color: white;
}

.service-info {
    width: 100%;
    height: 450px;
    gap: 2rem;
    display: flex;
    flex-direction: column; 
    padding: 2rem 0;
}

#service-icon {
    margin-bottom:3rem;
    color: var(--main-color);
    font-size: 10rem;
}

.services h3 {
    font-size: 3.5rem;
    font-weight: 600;
    align-items: center;
}

.services p {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0 2rem;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 7rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.nav-about {
    list-style: none;
    font-size: 1.5rem;
}

.nav-about li {
    background-color:  black;
    padding: 1.5rem 10rem;
    text-align: center;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
    border-radius: 4rem;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.nav-about li:nth-of-type(2) {
margin: 3rem 0;
}

.nav-about li:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;
}

.display-disable {
    display: none;
}

.display-enable {
    display: block;
}

.about-container{

    min-width: 600px;
    min-height: 400px;
    height: 400px;
}

.about-education {
    width: 600px;
} 

.about h3 {
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.about > p {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    margin-bottom: 6rem;
}

.education-content {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 3rem;
}

.education-box {
    background-color: var(--bg-color);
    border: 3px solid var(--main-color);
    border-radius: 15px;
    padding:  3rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.6rem;
}

.education-box h4 {
    color: var(--main-color);
    font-weight: 400;
}

.education-box-description-grey {
    color: rgb(142, 142, 142);
    margin-left: 2rem;

}

.education-box-description-grey::before {
    content: "•";
    color: var(--main-color);
    display: inline-block; 
    width: 0.8em;
    margin-left: -1em;
    font-size: 2rem;
}

.about-skills {
    width: 600px;
}

.icons-skills {
    display: flex;
    gap: 5rem;
    flex-direction: column;
    font-size: 10rem;
}

.icons-column {
    display: flex;
    justify-content: space-around;
}

.icons-column i {
    cursor: pointer;
    transition: 0.3s ease-in;
}

.icons-column i:hover {
    color: var(--main-color);
    transform: scale(1.2) translateY(-5px);
}

.aboutMe-info {
    display: flex;
    gap: 7rem;
    font-size: 1.6rem;  
    width: 600px;
}

.aboutMe-info span {
    margin-right: 1rem;
}

.aboutMe-info p {
    margin-bottom: 3.5rem;
}

.contact {
    background-color: var(--second-bg-color);
}

h2 {
    font-size: 8rem;
    text-align: center;
    margin: 5rem 0;
    margin-bottom: 3rem;
    color: white;
}

.contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem auto;
    text-align: center;
}

.contact form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input, 
.contact form textarea {
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0; 
    resize: none;
}

.input-group-2 {
    height: 100%;
}
textarea {
    height: 100%;
}

.contact form .btn {
    margin-top: 2rem;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--bg-color);
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}

.footer .social a {
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}

.footer .social a:hover {
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: black;
    box-shadow: 0 0 25px var(--main-color);
}

.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0; 
    text-align: center;
}

.footer ul li a {
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
    margin: 1rem;
}

.footer ul li a:hover {
    border-bottom: 3px solid var(--main-color);
}

.footer ul li {
    display: inline-block;
}

.footer .copyright {
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: white;
}

/* ------------- Mobile ------------- */
@media(max-width: 1285px) {
    html {
        width: 100%;
        display: flex;
        font-size: 55%;
    }

    section {
        width: 400px;
    }

    .about > p {
        width: 55vw;
        margin-left: 85px;
    }

    .header {
        width: 100%;
    }

    .services-container {
        padding-bottom: 7rem;
        grid-template-columns: repeat(2,1fr);
        margin: 0 5rem;
    }
}

@media(max-width: 1011px) {
    #menu-icon{
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: rgba(0, 0, 0, 0.8);
        background-color: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }

    .active{
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column-reverse;
        width: 100%;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 8rem;
        margin-top: 3rem;
    }

    .home-content p {
        max-width: 600px;
        margin: auto 0;
    }

    .home-img img {
        width: 50vw;
    }

    .service-info h3 {
        font-size: 24px;
    }

    .about-container {
        flex-direction: column;
    }
}


@media(max-width: 991px) {
    .header{
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .services {
        padding-bottom: 7rem;
    }

    .contact form {
        flex-direction: column;
    }

    .footer {
        padding: 2rem 3%;
        margin-left: 8px;
    }
}

@media(max-width: 822px) {
    .home h1, section h2 {
        font-size: 40px;
    }

    h2 {
        font-size: 50px;
    }

    .services-container {
        flex-direction: column;
    }
    .service-box {
        width: 72vw;
    }

    .education-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-education {
        width: 100%;
    }

    .education-box {
        width: 300px;
    }

    .aboutMe-info {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}